@model IEnumerable<Web_Shoes.Entity.About>

@{
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>IndexAdmin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.about_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.about_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.about_Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.about_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.about_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.about_Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.about_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.about_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.about_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
