@model IEnumerable<Web_Shoes.Models.OrderConfirmationModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <form action="/" method="post">
                <table>
                    <tr>
                        <td>
                            <select id="OrderSearch" class="btn-group">
                                <option value="volvo">OrderId</option>
                                <option value="saab">UserName</option>
                            </select>
                        </td>
                        <td>
                            <input id="search-input" type="search" class="form-control" />
                        </td>
                        <td>
                            <button id="search-button" type="button" class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </form>

        </div>


    </div>

</div>
<div>
    <table class="table">
        <tr>
            
            <th>Order Id</th>
            <th>UserName</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Shipping</th>
            <th>Discount</th>
            <th>Total price</th>
            <th>Confirm</th>
            
            <th></th> <!--View detail-->
            <th></th> <!--Confirm-->
            <th></th> <!--Edit-->
            <th></th> <!--Delete-->
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderC_BillId</td>
                    <td>@item.OrderC_UserName</td>
                    <td>@item.OrderC_FirstName</td>
                    <td>@item.OrderC_LastName</td>
                    <td>@item.OrderC_Email</td>
                    <td>@item.OrderC_Shiping</td>
                    <td>@item.OrderC_Discount</td>
                    <td>@item.OrderC_TotalPrice</td>
                    <td>@item.OrderC_Confirm</td>
                    
                    <td><a asp-action="Details" asp-route-id="@item.OrderC_BillId" >View detail</a></td>
                    <td><a asp-action="##" asp-route-id="@item.OrderC_BillId">Confirm</a></td>
                    <td><a asp-action="Edit" asp-route-id="@item.OrderC_BillId">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.OrderC_BillId">Delete</a></td>
                </tr>
            }
        }

    </table>
</div>


<script src="~/js/OrderConfirmationManagement.js"></script>