@model IEnumerable<Web_Shoes.Models.ReviewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}
<link href="~/css/productDetailPage.css" rel="stylesheet" />
<link href="~/css/captcha.css" rel="stylesheet" />

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="index.html">Home</a></span> / <span>Product Details</span></p>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">


            @*image*@

            <div class="col-sm-8">
                <div class="owl-carousel">

                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="@ViewBag.Img1" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="@ViewBag.Img2" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="@ViewBag.Img3" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="@ViewBag.Img4" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            @*image*@


            <div class="col-sm-4">
                <div class="product-desc">


                    <h3>@ViewBag.NameProduct</h3>


                    <p class="price">
                        <span>$@ViewBag.Price</span>
                        <span class="rate">

                            @{
                                for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= @ViewBag.Rate)
                                    {
                                        <i class="icon-star-full"></i>
                                    }
                                    else
                                    {
                                        <i class="icon-star-empty"></i>
                                    }

                                }
                            }

                            (74 Rating)
                        </span>



                    </p>
                    <p>@ViewBag.ShortDescription</p>



                    <div class="size-wrap">
                        <div class="block-26 mb-2">
                            <h4>Size</h4>
                            <ul>
                                @{
                                    //7
                                    if (ViewBag.Size7)
                                    {
                                        <li onclick="Sizebutton(7,'size_7')" id="size_7"  class="buttonsize" name="buttonsize"><a href="#">7</a></li>
                                    }

                                    //7.5
                                    if (ViewBag.Size7_5)
                                    {
                                        <li onclick="Sizebutton(7.5,'size_7_5')" id="size_7_5" class="buttonsize" name="buttonsize"><a href="#">7.5</a></li>
                                    }

                                    //8
                                    if (ViewBag.Size8)
                                    {
                                        <li onclick="Sizebutton(8,'size_8')" id="size_8" class="buttonsize" name="buttonsize"><a href="#">8</a></li>
                                    }

                                    //8.5
                                    if (ViewBag.Size8_5)
                                    {
                                        <li onclick="Sizebutton(8.5,'size_8_5')" id="size_8_5" class="buttonsize" name="buttonsize"><a href="#">8.5</a></li>
                                    }

                                    //9
                                    if (ViewBag.Size9)
                                    {
                                        <li onclick="Sizebutton(9,'size_9')" id="size_9" class="buttonsize" name="buttonsize"><a href="#">9</a></li>
                                    }

                                    //9.5
                                    if (ViewBag.Size9_5)
                                    {
                                        <li onclick="Sizebutton(9.5,'size_9_5')" id="size_9_5" class="buttonsize" name="buttonsize"><a href="#">9.5</a></li>
                                    }

                                    //10
                                    if (ViewBag.Size10)
                                    {
                                        <li onclick="Sizebutton(10,'size_10')" id="size_10" class="buttonsize" name="buttonsize"><a href="#">10</a></li>
                                    }

                                    //10_5
                                    if (ViewBag.Size10_5)
                                    {
                                        <li onclick="Sizebutton(10.5,'size_10_5')" id="size_10_5" class="buttonsize" name="buttonsize"><a href="#">10.5</a></li>
                                    }

                                    //11
                                    if (ViewBag.Size11)
                                    {
                                        <li onclick="Sizebutton(11,'size_11')" id="size_11" class="buttonsize" name="buttonsize"><a href="#">11</a></li>
                                    }

                                    //11.5
                                    if (ViewBag.Size11_5)
                                    {
                                        <li onclick="Sizebutton(11.5,'size_11_5')" id="size_11_5" class="buttonsize" name="buttonsize"><a href="#">11.5</a></li>
                                    }

                                    //12
                                    if (ViewBag.Size12)
                                    {
                                        <li onclick="Sizebutton(12,'size_12')" id="size_12" class="buttonsize" name="buttonsize"><a href="#">12</a></li>
                                    }

                                    //12.5
                                    if (ViewBag.Size12_5)
                                    {
                                        <li onclick="Sizebutton(12.5,'size_12_5')" id="size_12_5" class="buttonsize" name="buttonsize"><a href="#">12.5</a></li>
                                    }

                                    //13
                                    if (ViewBag.Size13)
                                    {
                                        <li onclick="Sizebutton(13,'size_13')" id="size_13" class="buttonsize" name="buttonsize"><a href="#">13</a></li>
                                    }

                                    //13.5
                                    if (ViewBag.Size13_5)
                                    {
                                        <li onclick="Sizebutton(13.5,'size_13_5')" id="size_13_5" class="buttonsize" name="buttonsize"><a href="#">13.5</a></li>
                                    }

                                    //14
                                    if (ViewBag.Size14)
                                    {
                                        <li onclick="Sizebutton(14,'size_14')" id="size_14" class="buttonsize" name="buttonsize"><a href="#">14</a></li>
                                    }

                                    //14.5
                                    if (ViewBag.Size14_5)
                                    {
                                        <li onclick="Sizebutton(14.5,'size_14_5')" id="size_14_5" class="buttonsize" name="buttonsize"><a href="#">14.5</a></li>
                                    }
                                }
                            </ul>
                        </div>


                        @if (@ViewBag.Img1 != null)
                        {
                            <img id="red" src=@ViewBag.Img1 alt="Snow" style="width:100%;max-width:300px" hidden>
                        }

                        @if (@ViewBag.Img2 != null)
                        {
                            <img id="blue" src=@ViewBag.Img2 alt="Snow" style="width:100%;max-width:300px" hidden>
                        }

                        @if (@ViewBag.Img3 != null)
                        {
                            <img id="green" src=@ViewBag.Img3 alt="Snow" style="width:100%;max-width:300px" hidden>
                        }

                        @if (@ViewBag.Img4 != null)
                        {
                            <img id="yellow" src=@ViewBag.Img4 alt="Snow" style="width:100%;max-width:300px" hidden>
                        }

                        
                        
                        
                        

                        <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Modal Caption (Image Text) -->
                            <div id="caption"></div>


                        </div>

                        <div class="block-26 mb-4 ">
                            <h4>Color</h4>
                            <ul>
                                @if (@ViewBag.Img1 != null)
                                {
                                    <li onclick="color('red','buttonRed','buttonBlue','buttonGreen','buttonYellow',1)" id="buttonRed" ><a href="#">Red</a></li>
                                }

                                @if (@ViewBag.Img2 != null)
                                {
                                    <li onclick="color('blue','buttonRed','buttonBlue','buttonGreen','buttonYellow',2)" id="buttonBlue"><a href="#">Blue</a></li>
                                }

                                @if (@ViewBag.Img3 != null)
                                {
                                    <li onclick="color('green','buttonRed','buttonBlue','buttonGreen','buttonYellow',3)" id="buttonGreen"><a href="#">Green</a></li>
                                }

                                @if (@ViewBag.Img4 != null)
                                {
                                    <li onclick="color('yellow','buttonRed','buttonBlue','buttonGreen','buttonYellow',4)" id="buttonYellow"><a href="#">Yellow</a></li>
                                }




                            </ul>
                        </div>


                    </div>


                    <div class="input-group mb-4">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                <i class="icon-minus2"></i>
                            </button>
                        </span>

                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="2" min="1" max="100">
                        <span class="input-group-btn ml-1">
                            <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="icon-plus2"></i>
                            </button>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p class="addtocart"><a href="" class="btn btn-primary btn-addtocart" id="addtocartbutton" onclick="addtocart()"><i class="icon-shopping-cart"></i> Add to Cart</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12 pills">
                        <div class="bd-example bd-example-tabs">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Manufacturer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Review</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">

                                <div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                    <p>
                                        @ViewBag.Description
                                    </p>
                                </div>



                                <div class="tab-pane border fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                                </div>

                                <div class="tab-pane border fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3 class="head">23 Reviews</h3>

                                            @foreach (var item in Model)
                                            {
                                                <div class="review">
                                                    <div class="user-img" style="background-image: url(images/person1.jpg)"></div>
                                                    <div class="desc">
                                                        <h4>
                                                            <span class="text-left">@item.review_UserName</span>
                                                            <span class="text-right">@item.review_UploadTime</span>
                                                        </h4>
                                                        <p class="star">
                                                            <span>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-half"></i>
                                                                <i class="icon-star-empty"></i>
                                                            </span>
                                                            <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                                                        </p>
                                                        <p>@item.review_Comment</p>
                                                    </div>
                                                </div>
                                            }

                                        <div class="review">
                                            <form asp-controller="ProductDetail" asp-action="Comment" method="post" onsubmit="return checkform(this);">
                                                <div class="form-group">
                                                    <label for="comment">Your Comment</label>
                                                    <input type="text" name="idproduct" value="@ViewBag.Id" hidden />
                                                    <textarea name="comment" class="form-control" rows="3"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <!-- START CAPTCHA -->
                                                    <br>
                                                    <div class="capbox">

                                                        <div id="CaptchaDiv"></div>

                                                        <div class="capbox-inner">
                                                            Type the number:<br>

                                                            <input type="hidden" id="txtCaptcha">
                                                            <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>

                                                        </div>
                                                    </div>
                                                    <br><br>

                                                    <!-- END CAPTCHA -->
                                                </div>
                                                <input type="submit" name="name" class="btn btn-default" value="Send" />
                                            </form>
                                        </div>

                                        </div>



                                            <div class="col-md-4">
                                                <div class="rating-wrap">
                                                    <h3 class="head">Give a Review</h3>
                                                    <div class="wrap">
                                                        <p class="star">
                                                            <span>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                (98%)
                                                            </span>
                                                            <span>20 Reviews</span>
                                                        </p>
                                                        <p class="star">
                                                            <span>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-empty"></i>
                                                                (85%)
                                                            </span>
                                                            <span>10 Reviews</span>
                                                        </p>
                                                        <p class="star">
                                                            <span>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-empty"></i>
                                                                <i class="icon-star-empty"></i>
                                                                (70%)
                                                            </span>
                                                            <span>5 Reviews</span>
                                                        </p>
                                                        <p class="star">
                                                            <span>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-empty"></i>
                                                                <i class="icon-star-empty"></i>
                                                                <i class="icon-star-empty"></i>
                                                                (10%)
                                                            </span>
                                                            <span>0 Reviews</span>
                                                        </p>
                                                        <p class="star">
                                                            <span>
                                                                <i class="icon-star-full"></i>
                                                                <i class="icon-star-empty"></i>
                                                                <i class="icon-star-empty"></i>
                                                                <i class="icon-star-empty"></i>
                                                                <i class="icon-star-empty"></i>
                                                                (0%)
                                                            </span>
                                                            <span>0 Reviews</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/productDetailPage.js"></script>
<script src="~/js/captcha.js"></script>



<script>

    var ProductColor;
    var ProductSize;
    var ProductAmount;


    function color(color, idbutton1, idbutton2, idbutton3, idbutton4,indexbutton) {

        switch (indexbutton) {
            case 1:
                // code block
                var button1 = document.getElementById(idbutton1); //click
                button1.style = 'background-color: #4CAF50;';

                var button2 = document.getElementById(idbutton2);
                button2.style = '';

                var button3 = document.getElementById(idbutton3);
                button3.style = '';

                var button4 = document.getElementById(idbutton4);
                button4.style = '';
                break;

            case 2:
                // code block
                var button1 = document.getElementById(idbutton1);
                button1.style = '';

                var button2 = document.getElementById(idbutton2); //click
                button2.style = 'background-color: #4CAF50;';

                var button3 = document.getElementById(idbutton3);
                button3.style = '';

                var button4 = document.getElementById(idbutton4);
                button4.style = '';
                break;
            case 3:
                // code block
                var button1 = document.getElementById(idbutton1);
                button1.style = '';

                var button2 = document.getElementById(idbutton2);
                button2.style = '';

                var button3 = document.getElementById(idbutton3); //click
                button3.style = 'background-color: #4CAF50;';

                var button4 = document.getElementById(idbutton4);
                button4.style = '';
                break;

            case 4:
                // code block
                var button1 = document.getElementById(idbutton1);
                button1.style = '';

                var button2 = document.getElementById(idbutton2);
                button2.style = '';

                var button3 = document.getElementById(idbutton3);
                button3.style = '';

                var button4 = document.getElementById(idbutton4);  //click
                button4.style = 'background-color: #4CAF50;';
                break;
            default:
            // code block
        }


        ProductColor = color;
        modalImage(color);

    }

    function Sizebutton(size, chooseSizeid) {

        //Size 7
        var size7 = document.getElementById('size_7');
        if (size7 != null) {
            size7.style = 'background-color: #CCCCCC;';
        }

        //Size 7.5
        var size7_5 = document.getElementById('size_7_5');
        if (size7_5 != null) {
            size7_5.style = 'background-color: #CCCCCC;';
        }

        //Size 8
        var size8 = document.getElementById('size_8');
        if (size8 != null) {
            size8.style = 'background-color: #CCCCCC;';
        }

        //Size 8.5
        var size8_5 = document.getElementById('size_8_5');
        if (size8_5 != null) {
            size8_5.style = 'background-color: #CCCCCC;';
        }

        //Size 9
        var size9 = document.getElementById('size_9');
        if (size9 != null) {
            size9.style = 'background-color: #CCCCCC;';
        }

        //Size 9.5
        var size9_5 = document.getElementById('size_9_5');
        if (size9_5 != null) {
            size9_5.style = 'background-color: #CCCCCC;';
        }

        //Size 10
        var size10= document.getElementById('size_10');
        if (size10 != null) {
            size10.style = 'background-color: #CCCCCC;';
        }

        //Size 10.5
        var size10_5 = document.getElementById('size_10_5');
        if (size10_5 != null) {
            size10_5.style = 'background-color: #CCCCCC;';
        }

        //Size 11
        var size11 = document.getElementById('size_11');
        if (size11 != null) {
            size11.style = 'background-color: #CCCCCC;';
        }

        //Size 11.5
        var size11_5 = document.getElementById('size_11_5');
        if (size11_5 != null) {
            size11_5.style = 'background-color: #CCCCCC;';
        }

        //Size 12
        var size12 = document.getElementById('size_12');
        if (size12 != null) {
            size12.style = 'background-color: #CCCCCC;';
        }

        //Size 12.5
        var size12_5 = document.getElementById('size_12_5');
        if (size12_5 != null) {
            size12_5.style = 'background-color: #CCCCCC;';
        }

        //Size 13
        var size13 = document.getElementById('size_13');
        if (size13 != null) {
            size13.style = 'background-color: #CCCCCC;';
        }

        //Size 13.5
        var size13_5 = document.getElementById('size_13_5');
        if (size13_5 != null) {
            size13_5.style = 'background-color: #CCCCCC;';
        }

        //Size 14
        var size14 = document.getElementById('size_14');
        if (size14 != null) {
            size14.style = 'background-color: #CCCCCC;';
        }

        //Size 14.5
        var size14_5 = document.getElementById('size_14_5');
        if (size14_5 != null) {
            size14_5.style = 'background-color: #CCCCCC;';
        }
        

        var choose = document.getElementById(chooseSizeid);
        choose.style = "background-color: #4CAF50;";


        // add input text
        ProductSize = size;
    }



    function amount() {

        var a = document.querySelector("#quantity");

        ProductAmount = a.value;
    }

    function addtocart() {

        amount();

        var a = document.querySelector("#addtocartbutton");
        a.href = "/productdetailadd?productid=@ViewBag.Id&quantity=" + ProductAmount + "&color=" + ProductColor + "&size=" + ProductSize;

    }
</script>